body {
  position: relative;
  height: 800px;
  width: 1440px;

  background: rgba(213, 225, 239, 1);
}

.box {
  position: absolute;
  height: 497px;
  width: 320px;
  left: 562px;
  top: 152px;
  border-radius: 0px;
  background: rgba(255, 255, 255, 1);
  box-shadow: 0px 25px 25px 0px rgba(0, 0, 0, 0.0477);
}

.qrcode {
  width: 288px;
  height: 288px;
  left: 576px;
  top: 168px;
  margin-left: 15px;
  margin-top: 15px;
}

.text {
  position: absolute;
  width: 288px;
  height: 129px;
  left: 576px;
  top: 460px;
}

.boldtext {
  position: absolute;
  height: 56px;
  width: 288px;
  left: 0px;
  top: calc(50% - 56x / 2 - 36.5px);
  border-radius: 0px;
  font-family: Outfit;
  font-style: normal;
  font-size: 22px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0px;
  text-align: center;
}

.normaltext {
  position: absolute;
  height: 57px;
  width: 256px;
  left: 5.56%;
  right: 5.56%;
  top: calc(50% - 57px / 2 + 36px);
  border-radius: 0px;

  font-family: Outfit;
  font-style: normal;
  font-size: 15px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0.1875px;
  text-align: center;
}
